<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <link rel='stylesheet' href='/stylesheets/main-style.css' />
  </head>
  <body>
  <div class="page-header">
  </div>
    <%- body %>
  <script src="/javascripts/bundle.js"></script>
  </body>
</html>
