
<div class="mainContent">
    <form id="paymentForm">
        <h1 class="title"> Enter your details</h1>
        <div>
            <div class="formRow">
                <select name="country" required>
                    <option value="il">Israel</option>
                    <option value="us">USA</option>
                    <option value="uk">United Kingdom</option>
                </select>
            </div>
            <div class="formRow rowContainer">
                <input class="halfRow floatRight" type="text"  required name="firstName" placeholder="First name">
                <input class="halfRow floatLeft" type="text" required name="lastName" placeholder="Last name">
            </div>
            <div class="formRow">
                <input type="email" required name="email" placeholder="Your email">
            </div>
            <div class="formRow">
                <input class="totalPrice" type="text" required name="totalPrice" data-price="<%=totalPrice%>" value="Total: $<%=totalPrice%>" disabled>
            </div>
            <div class="formRow alignToRight">
                <button class="button" type="submit">Place Order</button>
            </div>
        </div>
    </form>
</div>

<div id="loadingAnimation">
    <div id="escapingBallG">
        <div id="escapingBall_1" class="escapingBallG"></div>
    </div>
</div>

<div id="thankYouMessage">
    <h1 class="title"> Your order is on it's way! </h1>
</div>

<div class="orderConfirmed">
    <h2 class="title"> Order confirmation was sent to: <span class="email"></span> </h2>
    <a href="/" class="button ">Continue Shopping</a>
</div>

<div class="modal"></div>