<div class="mainContent">
    <form id="paymentForm">
        <h1 class="title">Enter your details</h1>

        <h3 class="description" name="productDescription"><%= purchaseInfo.description %></h3>

        <div>
            <div class="formRow">
                <select name="country" required>
                    <option value="il">Israel</option>
                    <option value="us">USA</option>
                    <option value="uk">United Kingdom</option>
                </select>
            </div>
            <div class="formRow rowContainer">
                <input class="halfRow floatLeft" type="text" required name="firstName" placeholder="First name">
                <input class="halfRow floatRight" type="text" required name="lastName" placeholder="Last name">
            </div>
            <div class="formRow">
                <input type="email" required name="email" placeholder="Your email">
            </div>
            <div class="formRow orderTotal">
                <div>
                    Total: <%= purchaseInfo.currency %>
                    <sapn name="totalPrice"><%= purchaseInfo.totalPrice %></sapn>
                </div>
            </div>
            <div class="formRow alignToRight">
                <button class="button" type="submit">Place Order</button>
            </div>
        </div>
    </form>
</div>

<div id="loadingAnimation">
    <div id="escapingBallG">
        <div id="escapingBall_1" class="escapingBallG"></div>
    </div>
</div>

<div class='successWrapper'>
    <%- include thankyou.ejs %>
</div>


<div class="modal"></div>