body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body div {
    color: #0000ef;
}
@media (max-width: 200px) {
    body div {
        width: 100px;
    }
}
a {
    color: #00b7ff;
}

*{
    box-sizing: border-box;
}

.totalPrice {
    text-align: center;
    font-weight: bold;
}

.title {
    text-align: center;
    color: black;
}
/* Create three columns of equal width */
.columns {
    width: 50%;
    padding: 8px;
    margin: 0 auto;
}

/* Style the list */
.ticketInfo {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.ticketInfo:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.ticketInfo .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.ticketInfo li, .ticketInfo select {
    color: black;
    text-align: center;
}

.ticketInfo li {
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.ticketInfo select {
    margin-left: 8px
}

/* Grey list item */
.ticketInfo .grey {
    background-color: #eee;
    font-size: 20px;
}

.ticketInfo .totalPrice {
    color: purple ;
    font-size: 20px;
}

/* The order button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.formRow .button {
    padding: 7px 25px;
}

/*change width for really small screens*/
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

#parent {
    display: table;
    width: 100%;
}

/*form css*/
.mainContent {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(51, 160, 217, 0.2);
}

.formRow {
    padding-top: 2%;
}

.formRow input{
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
}

.formRow select{
    padding-top: 2%;
}

.rowContainer {
    width: 100%;
    display: inline-block;
}

.formRow .halfRow{
    display: inline-block;
    width: 49%;
}

.mainContent{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.mainContent{
    border: none;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}
.alignToRight {
    text-align: right;
}

#thankYouMessage{
    position:relative;
    display:none;
}

.orderConfirmed{
    position:relative;
    display:none;
    text-align: center;
}

.orderConfirmed h2{
    padding-bottom: 5%;
}
/* Loader animation */
#loadingAnimation{
    position:relative;
    margin-top:150px;
    display:none;
}

/* Loader 3rd party */
#escapingBallG{
    position:relative;
    width:125px;
    height:43px;
    margin:auto;
}

.escapingBallG{
    background-color:rgb(0,0,0);
    position:absolute;
    top:0;
    left:0;
    width:43px;
    height:43px;
    border-radius:21px;
    -o-border-radius:21px;
    -ms-border-radius:21px;
    -webkit-border-radius:21px;
    -moz-border-radius:21px;
    animation-name:bounce_escapingBallG;
    -o-animation-name:bounce_escapingBallG;
    -ms-animation-name:bounce_escapingBallG;
    -webkit-animation-name:bounce_escapingBallG;
    -moz-animation-name:bounce_escapingBallG;
    animation-duration:0.775s;
    -o-animation-duration:0.775s;
    -ms-animation-duration:0.775s;
    -webkit-animation-duration:0.775s;
    -moz-animation-duration:0.775s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
    animation-delay:0s;
    -o-animation-delay:0s;
    -ms-animation-delay:0s;
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    transform:scale(0.5, 1);
    -o-transform:scale(0.5, 1);
    -ms-transform:scale(0.5, 1);
    -webkit-transform:scale(0.5, 1);
    -moz-transform:scale(0.5, 1);
}



@keyframes bounce_escapingBallG{
    0%{
        left:0px;
        transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        transform:scale(0.5, 1);
    }
}

@-o-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -o-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -o-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -o-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -o-transform:scale(0.5, 1);
    }
}

@-ms-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -ms-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -ms-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -ms-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -ms-transform:scale(0.5, 1);
    }
}

@-webkit-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -webkit-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -webkit-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -webkit-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -webkit-transform:scale(0.5, 1);
    }
}

@-moz-keyframes bounce_escapingBallG{
    0%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }

    25%{
        left:41px;
        -moz-transform:scale(1, 0.5);
    }

    50%{
        left:103px;
        -moz-transform:scale(0.5, 1);
    }

    75%{
        left:41px;
        -moz-transform:scale(1, 0.5);
    }

    100%{
        left:0px;
        -moz-transform:scale(0.5, 1);
    }
}